{% extends '_base.htm' %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block content %}
        <ul class="collapsible popout" data-collapsible="accordion">
        {% for p in podcasts %}
          <li>
            <div class="collapsible-header{% if forloop.first %} active{% endif %}">{{ p.title }} ({{ p.pub_date }})</div>
            <div class="collapsible-body">
              <p>{{ p.description }}</p>
              <p><audio src="{{ p.final_url }}"></p>
              <p class="raw"><a href="{{ p.raw_url }}">Download raw audio.</a></p>
            </div>
          </li>
        {% endfor %}
        </ul>
{% endblock %}