{% extends '_base.htm' %}

{% block title %}Episode #{{ podcast.pk }}: {{ podcast.title }}{% endblock %}

{% block content %}
          <div class="row">
            <div class="s12">
              <a href="/p/{{ p.slug }}"><h5>Episode #{{ podcast.pk }}: {{ podcast.title }}</h5></a>
            </div>
          </div>
          <div class="row">
            <div class="s12">
              {{ podcast.description }}
              <hr>
              <a href="{{ podcast.audio.url }}">Download</a>
            </div>
          </div>
{% endblock %}